/.cache
/extsrc
/console.devmode.log
/target
*.class
*.log
/build
.classpath
.project
.settings
.cache-main
.cache-test
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet